.big-name {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  position: absolute;
  z-index: 5;
  bottom: 12%
}

.name-wrap {
  display: inline-block;
}

.no-select {
  user-select: none;
  font-size: 11vmax;
  font-weight: bold;
  z-index: 5;
}

.spacer {
  margin-left: 1rem;
}

.no-select::before {
  content: " "; 
  white-space: pre; 
}