.scroll-container {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100vw;
  z-index: 5;
  overflow: hidden;
}

.autoscroll {
  font-size: 11vw;
  color: white;
  margin: 0;
  padding: 0;
  z-index: 5;
  white-space: nowrap;
  display: inline-block;
}