.scroll-container {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    z-index: 5;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .autoscroll {
    font-size: 11vw;
    color: white;
    margin: 0;
    padding: 0;
    z-index: 5;
    justify-content: center;
    align-items: center;
  }