#content-page2 {
    width: 95%;
    text-align: start;
    justify-content: start;
    align-items: center;
    color: lightgrey;
    z-index: 0;
}

#content-page2 h1{
    font-size: large; 
    font-style: bold;
}



.project-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    overflow: hidden;
    z-index: 1;
}

.project {
    width: 100%;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    
}

.project-name {
    font-size: 7vw; /* Adjusted big font size */
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
    
}

/* Responsive design */
@media (max-width: 600px) {
    .project-name {
        font-size: 2em;
    }
}