
#nav {
    display: flex;
    justify-content: space-between;
}

#nav h2 {
    font-size: 24px;
    font-weight: bold;
    align-items: start;
    justify-content: start;
}

#nav #sections {
    justify-content: space-between;
}

