
#nav {
    display: flex;
    justify-content: space-between;
}

#nav h2 {
    font-size: 24px;
    font-weight: bold;
    align-items: start;
    justify-content: start;
}

.hover-cursor a {
    color: inherit; /* Inherit text color from parent */
    text-decoration: none; /* Remove underline */
    cursor: pointer; /* Change cursor to pointer on hover */
    /* Add other styles as needed */
}



