/* styles.css */
body {
    background-color: #111;
    color: #fff; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
}

.custom-scrollbar {
    position: fixed;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 1; /* Show the scrollbar */
}

.custom-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 1px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
}

#page1 {    
    height: 100vh;
    width: 100%;
    scrollbar-width: none;
}

#page2 {    
    height: auto;
    width: 100%;
    scrollbar-width: none; 
    background-color: #024a6b;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.circle {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    background-color: #007bff; /* Circle background color */
    border-radius: 50%; /* Make it circular */
    opacity: 1;
    scale: 0;

    user-select: none;
    -webkit-user-select: none; /* For older versions of Safari/Chrome */
    -moz-user-select: none; /* For older versions of Firefox */
}

.wave {
    transition: background-color 0.1s ease;
}

.wave:hover {
    box-shadow: 0 0 10px red; /* Add a glow effect */
}

.sticky {
    user-select: none;
    -webkit-user-select: none; /* For older versions of Safari/Chrome */
    -moz-user-select: none; /* For older versions of Firefox */
    z-index: 10;
    padding: 5px;
}

#hero {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.parallax-layer {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.layer {
    object-fit:cover;
}

/* Default styles for .layerspecial */
.layerspecial {
    bottom: -70px;
    height: 104vh;
    object-fit: cover;
}


.modern-button {
    font-size: 1.5em; /* Adjust font size as needed */
    color: white;
    background-color: transparent;
    border: 2px solid white; /* White border */
    border-radius: 40px; /* Rounded corners */
    cursor: default;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    width: 200px;
    height: 80px;
    padding: 0;
    z-index: 5;
}

.modern-button:hover {
    background-color: white;
    color: #282c34; /* Change text color on hover */
    cursor: default;
}




