/* styles.css */
body {
    background-color: #111;
    color: #fff; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
    scroll-behavior:smooth;
    cursor: none;
}

/* Hide scrollbar by default */
::-webkit-scrollbar {
    display: none;
}




/* Make scrollbar hidden again when not in use */
body::-webkit-scrollbar-thumb:window-inactive {
    background-color: transparent; /* Fully transparent */
}


#page1 {    
    height: 100vh;
    width: 100%;
    scrollbar-width: none;
}

#page2 {    
    height: auto;
    width: 100%;
    scrollbar-width: none; 
    background-color: #024a6b;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.circle {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    background-color: #007bff; /* Circle background color */
    border-radius: 50%; /* Make it circular */
    opacity: 1;
    scale: 0;

    user-select: none;
    -webkit-user-select: none; /* For older versions of Safari/Chrome */
    -moz-user-select: none; /* For older versions of Firefox */
}

.wave {
    transition: background-color 0.1s ease;
}

.wave:hover {
    box-shadow: 0 0 10px red; /* Add a glow effect */
}

.sticky {
    user-select: none;
    -webkit-user-select: none; /* For older versions of Safari/Chrome */
    -moz-user-select: none; /* For older versions of Firefox */
    z-index: 10;
    padding: 5px;
}

#image-container{
    position: absolute;
    top: 32%;
    left: 15%;
    width: 18.2vmax;
    height: 18.2vmax;
    background-color: #9BE4F6;
    border-radius: 300px;
    transform: translate(-50%, -50%);
}

#my-image {
    width: 18vmax;
    height: 18vmax;
    border-radius: 300px;
}

#hero {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.parallax-layer {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.parallax-floor {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.layer {
    object-fit:cover;
}

/* Default styles for .layerspecial */
.layerspecial {
    bottom: -40px;
    height: 104vh;
    object-fit: cover;
}


.modern-button {
    font-size: 1.4vmax; /* Adjust font size as needed */
    color: white;
    background-color: transparent;
    border: 2px solid white; /* White border */
    border-radius: 40px; /* Rounded corners */
    cursor: none;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    margin: 4vmax;
    padding: 1vmax 1.5vmax; /* Responsive padding based on font size */
    
}

.modern-button:hover {
    background-color: white;
    color: #282c34; /* Change text color on hover */
    cursor: none;
}

footer {
    position: relative; /* Ensure relative positioning for absolute child */
    width: 100%; /* Make footer span full width */
}

.footer-image {
    width: 100%; /* Ensure image spans full width of footer */
    display: block; /* Ensure the image is displayed as a block */
}

.footer-content {
    background-color: #0484AB; /* Example background color */
    width: 100%; /* Ensure div spans full width of footer */
}


